*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  outline: none;
  /* TODO: fuentes */
  --Roboto: 'Roboto', sans-serif;
  --Lato: 'Lato', sans-serif;
}
* a{
  color: #000;
}
ul a li i{
  margin-right: 5px;
}
.backgroundContent{
  background: #f1f1f1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
}
/* TODO: standar input */
.wrapInput{
  position: relative;
  margin: 10px auto;
  width: 90%;
}
.wrapInput p{
  font-family: var(--Lato);
  text-transform: capitalize;
}
.wrapInput label{
  position: absolute;
  left: 7px;
  bottom: 7px;
  font-family: var(--Lato);
  font-size: 16px;
  text-transform: capitalize;
  color: #888888;
  transition: .3s;
  cursor: text;
}
.wrapInput input{
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  padding: 7px;
  width: 95%;
}
.wrapInput input:focus ~ label,.wrapInput input:valid ~ label{
  transform: translateY(-25px);
  color: #576574;
  font-size: 14px;
}
.wrapInput button{
  width: 97%;
  margin: 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid #576574;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: .2s;
}
.wrapInput button:hover{
  background: #576574;
  color: #fff;
}
/* TODO: standar modal */
.wrapModal{
 position: fixed;
 width: 100%;
 height: 100vh;
 top: 0px;
 left: 0px;
 background: rgba(0, 0, 0, 0.6);
 z-index: 5;
 display: none;
 justify-content: center;
 align-items: center;
}
.modal{
  padding: 10px;
  border-radius: 3px;
  background: #fff;
}
/* TODO topMenu del docente */
.topMenu{
  width: 100%;
  height: 60px;
  background: #bfbfbf;
  /* background: #2c3e50; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.topMenu ul{
  display: flex;
  align-items: center;
}
.topMenu li{
  padding: 21px 20px 20px 20px;
  cursor: pointer;
  color: #090909;
}
.topMenu li:hover{
  background: #d2d2d2;
}
/* TODO: leftMenu del docente */
.leftMenu{
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: #2c3e50;
  left: 0px;
  top: 0px;
}
.userName{
  width: 100%;
  height: 60px;
  /* background: #1abc9c; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftMenu ul{
  margin-top: 10px;
}
.leftMenu li{
  margin: 0px 0px;
  padding: 20px 10px;
  font-family: var(--Lato);
  cursor: pointer;
  color: #f5f5f5;
  transition: .1s;
}
.leftMenu li:hover{
  color: #f5f5f5;
  background: #354d65;
  /* border-left: 10px solid #bfbfbf; */
}
/* TODO: contenido usuario */
.contentUser{
  margin: 90px 100px 20px 380px;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 20px -10px #000;
}
.contentUser .title{
  margin: 0px auto;
  font-family: var(--Roboto);
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.contentUser .title h1{
  text-transform: uppercase;
}
.contentUser .textContent{
  margin: 0px auto;
  font-family: var(--Lato);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TODO: table */
.wrapTable{
  padding-top: 10px;
  border-top: 1px solid #bfbfbf;
  width: 100%;
  height: 100%;
}
.wrapTable p{
  font-family: var(--Lato);
  margin: 10px 0px;
}
table{
  width: 100%;
}
table,th,tr,thead,tbody,td{
  font-family: var(--Lato);
  border: 1px solid #c6c6c6;
  text-align: center;
  text-transform: capitalize;
}
td i{
  color: #000;
}
/* TODO: estilo actividad */
.formActivity{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-top: 30px;
  border-top: 1px solid #c6c6c6;
}
.contentUser .wrapInput select{
  width: 97%;
  padding: 6px;
  border-radius: 4px;
  text-transform: capitalize;
  color: #888888;
  font-family: var(--Lato);
}
.wrapDate{
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
.wrapDate .wrapInput{
  width: 95%;
}
.wrapDate .wrapInput input{
  width: 85%;
}
/* TODO: estilos scaner */
.container-fluid{
  font-family: var(--Lato);
}
.optionModule{
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 20px 0px;
}
.optionModule button{
  padding: 10px 20px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  background: none;
  transition: .2s;
  cursor: pointer;
  text-transform: capitalize;
  margin-left: 20px;
}
.optionModule button:hover{
  background: #ebe6e6;
}
.camera{
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom{
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom label{
  margin-right: 10px;
}
.wrapTitle, .caption{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
