*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  outline: none;
  /* TODO: fuentes */
  --Roboto: 'Roboto', sans-serif;
  --Lato: 'Lato', sans-serif;
}
* a{
  color: #000;
}
.backgroundContent{
  background: #f1f1f1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
}
/* TODO: contenido usuario */
.contentUser{
  margin: 90px 100px 20px 350px;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 20px -10px #000;
}
.contentUser .title{
  margin: 0px auto;
  font-family: var(--Roboto);
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.contentUser .title h1{
  text-transform: uppercase;
}
.contentUser .title .optionModule{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formRegister ul{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
}
.optionModule li{
  padding: 5px 20px;
  font-size: 18px;
  border: 1px solid #bfbfbf;
  margin-bottom: 5px;
  border-radius: 3px;
}
.optionModule a{
  color: #828282;
  font-family: var(--Roboto);
}
.optionModule li:hover{
  color: #383838;
}
.contentUser .wrapInput{
  margin: 30px auto;
  width: 90%;
}
.contentUser .wrapInput input{
  border-radius: 4px;
  /* width: 100%; */
}
.contentUser .wrapInput select{
  width: 97%;
  padding: 6px;
  border-radius: 4px;
  text-transform: capitalize;
  color: #888888;
}
.contentUser .wrapInput:nth-last-child(1){
  margin: 10px auto;
}
.contentUser .wrapInput button{
  margin: 0px;
  width: 97%;
}

/* TODO: estilos del login de la aplicacion */
.wrapBackground{
  width: 100%;
  height: 100vh;
  background: #e8e8e8;
}
.backgroundRight{
  margin-left: 55%;
  width: 45%;
  height: 100vh;
  background: #576574;
}
.wrapLogin{
  position: absolute;
  width: 60%;
  height: 80vh;
  background: #fff;
  margin: 0px auto;
  border-radius: 10px;
  left: 250px;
  top: 50px;
  box-shadow: 0px 20px 50px -30px black;
  display: flex;
}
.loginLeft{
  position: relative;
  width: 58%;
  border-radius: 10px 0px 0px 10px;
  height: 100%;
}
.efect{
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.loginLeft .backgroundLoginLeft{
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.loginLeft p{
  bottom: 0px;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--Roboto);
  color: #fff;
  z-index: 10;
  font-size: 40px;
  padding: 20px;
}
.logo{
  width: 250px;
  height: 250px;
}
.loginRight{
  width: 42%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
.formLogin{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.wrapInput{
  position: relative;
  margin: 10px auto;
  width: 70%;
}
.wrapInput label{
  position: absolute;
  left: 7px;
  bottom: 7px;
  font-family: var(--Lato);
  font-size: 16px;
  text-transform: capitalize;
  color: #888888;
  transition: .3s;
  cursor: text;
}
.wrapInput input{
  border-radius: 10px;
  border: 1px solid #b6b6b6;
  padding: 7px;
  width: 95%;
}
.wrapInput button{
  margin-top: 25px;
  margin-left: 45px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid #576574;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: .2s;
}
.wrapInput button:hover{
  background: #576574;
  color: #fff;
}
.wrapInput input:focus ~ label,.wrapInput input:valid ~ label{
  transform: translateY(-25px);
  color: #576574;
  font-size: 14px;
}
/* TODO: estilos scope de top menu (admin) */
.topMenu{
  width: 100%;
  height: 70px;
  background: #2c3e50;
  /* background: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.userName{
  width: 250px;
  height: 100%;
  background: #1abc9c;
  /* background: #fff; */
  display: flex;
  align-items: center;
}
.topMenu a h2{
  font-family: var(--Roboto);
  text-transform: capitalize;
  padding-left: 10px;
}
.topMenu ul{
  display: flex;
  align-items: center;
}
.topMenu li{
  padding: 16px 20px;
  cursor: pointer;
  color: #fff;
  transition: .3s;
}
.topMenu li:hover{
  color: #1abc9c;
}
/* TODO: estilos scope de left menu (admin) */
.leftMenu{
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: #2c3e50;
  left: 0px;
  top: 0px;
}
.leftMenu ul{
  margin-top: 75px;
}
.leftMenu li{
  margin: 5px 0px;
  padding: 20px 10px;
  font-family: var(--Lato);
  cursor: pointer;
  color: #fff;
  transition: .3s;
}
.leftMenu li:hover{
  color: #1abc9c;
  background: #354d65;
  border-left: 10px solid #1abc9c;
}
/* TODO: estilos de buscar usuario */
.wrapTable{
  padding-top: 10px;
  border-top: 1px solid #bfbfbf;
  width: 100%;
  height: 100%;
}
table{
  width: 100%;
}
table,th,tr,thead,tbody,td{
  font-family: var(--Lato);
  border: 1px solid #c6c6c6;
  text-align: center;
}
td i{
  color: #000;
}
