RewriteEngine On
#login
RewriteRule ^inicio$ index.php
RewriteRule ^validar-login$ index.php?c=auth&a=logIn
#dashboard
RewriteRule ^finalizar$ index.php?c=auth&a=logOut
RewriteRule ^dashboard$ index.php?c=admin
RewriteRule ^asistencia$ index.php?c=admin&a=assistance
RewriteRule ^perfil$ index.php?c=admin&a=profile
RewriteRule ^ver-usuarios$ index.php?c=admin&a=viewUser
RewriteRule ^modificarUser$ index.php?c=admin&a=updateUser
RewriteRule ^cambiar_estado$ index.php?c=admin&a=cambiarEstado
RewriteRule ^crearUsuario$ index.php?c=user&a=crear
RewriteRule ^editar-usuario-(\w+)$ index.php?c=admin&a=editProfile&data=$1
RewriteRule ^asignar_fichas_aprendiz$ index.php?c=aprendiz&a=asigar_fichas_aprendiz
RewriteRule ^asignar_fichas$ index.php?c=instructor&a=asigar_fichas


RewriteRule ^asignar_ficha_instructor$ index.php?c=instructor&a=asigar_fichasSave
RewriteRule ^terminar_registro$ index.php?c=instructor&a=endRegister
RewriteRule ^terminar_registro_aprendiz$ index.php?c=aprendiz&a=endRegister
RewriteRule ^asignar_ficha_aprendiz_$ index.php?c=aprendiz&a=asigar_fichasSave
